/*Mediaquery for  Viewport 340px or less */

@media only screen and (max-width:340px){
    .header-area .main-menu .navbar,
    .header-area .main-menu .navbar .navbar-brand,
    .site-main .services-area
    {
        padding:2%;
        margin: 0;
    }
    .button.primary-button{
        margin-bottom: 10px;
    }

    .site-main .site-banner .site-title h1{
        font-size: 36px;
    }


    .site-main>.services-area.services{
        width:13rem;
    }
        
    

}

/* MediaQuery for Viewport 792px or less */

@media only screen and (max-width:792px){

    .site-main .about-area .about-title h2>span, .site-main .contact-area .contact-title h2>span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .project-area .button-group button{
        font:normal 500px 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p, .site-main .contact-area .contact-title p{
        padding:0%;
    }
    

}


/* MediaQuery for Viewport 1910px or less */

@media only screen and (max-width:1910px){

    .header-area .main-menu .navbar{
        padding:1rem;
    }

    .container
    {
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }

}